<div>
  <div class="vko" id="vko">
    <h3 class="vko">Viikon sää - viikko <% if (saatiedotData && saatiedotData.length) { %>
      <%= saatiedotData[0].vko %>
      <% } %>
    </h3>
  </div>
  <div class="paivat">
    <% if (saatiedotData && saatiedotData.length) { %>
      <% saatiedotData.forEach((s) => { %>
        <div class="paiva">
          <h3 id="pvm"><%= new Date(s.pvm).toLocaleDateString('fi-FI') %></h3>
          <br>
          <h2 id="lampotila"><%= s.lampotila %>°C</h2>
          <br>
          <p><h3>Saatila:</h3><%= s.saatila %></p>
          <br>
          <p><h3>Tuulennopeus:</h3><%= s.tuulennopeus %> m/s </p>
        </div>
      <% }) %>
    <% } %>
  </div>
</div>